<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  {% include 'partials/_meta.html' %}
  {% include 'partials/_style.html' %}

  <title>
   OHO Learning library
  </title>

  <!--     Fonts and icons     -->
  {% include 'partials/_style.html' %}
</head>

<style>
  .landing-section {
    background: #FFF !important;
  }
</style>

<body class="landing-page sidebar-collapse">
  <!-- Header-->
{% include 'partials/_header.html' %}

<!-- Main section start here-->
<div class="landing-section">
  <div class="container">
    <!-- search box-->
        <div class="row">
         <div class="col-md-12">
           <input type="search" name="" id="" class="form-control" placeholder="Search Contents">
         </div>
            
          </div>

    <!-- Search results-->
    <div class="row">
        <div class="col-md-6">
         
          <!-- Tabs with icons on Card -->
          <div class="card card-nav-tabs">
            <div class="card-header card-header-primary">
              <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active show" href="#profile" data-toggle="tab">
                        <i class="material-icons">face</i> Profile
                      <div class="ripple-container"></div></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#messages" data-toggle="tab">
                        <i class="material-icons">chat</i> Messages
                      <div class="ripple-container"></div></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#settings" data-toggle="tab">
                        <i class="material-icons">build</i> Settings
                      <div class="ripple-container"></div></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body ">
              <div class="tab-content text-center">
                <div class="tab-pane active show" id="profile">
                  <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                </div>
                <div class="tab-pane" id="messages">
                  <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                </div>
                <div class="tab-pane" id="settings">
                  <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Tabs with icons on Card -->
        </div>
        <div class="col-md-6">
          <h3>
            <small>Tabs on Plain Card</small>
          </h3>
          <!-- Tabs on Plain Card -->
          <div class="card card-nav-tabs card-plain">
            <div class="card-header card-header-danger">
              <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="nav-item">
                      <a class="nav-link active" href="#home" data-toggle="tab">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#updates" data-toggle="tab">Updates</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#history" data-toggle="tab">History</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body ">
              <div class="tab-content text-center">
                <div class="tab-pane active" id="home">
                  <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                </div>
                <div class="tab-pane" id="updates">
                  <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                </div>
                <div class="tab-pane" id="history">
                  <p> I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Tabs on plain Card -->
        </div>
      </div>

   
   
   
  </div>
</div>
<!-- Main section ends here-->

  
  {% include 'partials/_footer.html' %}
  <!--   Core JS Files   -->
  {% include 'partials/_script.html' %}

</body>

</html>